<div class="container topm40">
  <div class="col-md-12 text-center">
      <p class="h1d">
         Yo! <i class="fa fa-code"></i> Code and
        <i class="fa fa-cloud"></i> Azure Web Apps!
      </p>
   </div>
</div>